.p-paginator-page.p-paginator-element.p-link.p-highlight {
    background: rgba(143, 129, 90, 0.2);
    border-color: rgb(143, 129, 90, 0.2);
  }
  
  .p-paginator-element:focus {
    box-shadow: 0 0 0 0.2rem rgba(156, 144, 111, 0.25);
  }
  
  .p-dropdown:not(.p-disabled).p-focus {
    border-color: rgb(143, 129, 90);
    box-shadow: 0 0 0 0.15rem rgba(156, 144, 111, 0.3);
  }
  
  .p-dropdown:not(.p-disabled):hover {
    border-color: rgb(143, 129, 90);
  }
  
  .p-dropdown-items .p-dropdown-item.p-highlight {
    background-color: rgba(143, 129, 90, 0.2);
  }